apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus
data:
  prometheus.yml: |
    global:
        scrape_interval: 30s
        scrape_timeout: 30s
    scrape_configs:
      - job_name: spring-boot-app        
        scrape_interval: 60s
        metrics_path: '/prometheus'
        static_configs:
          - targets: ['172.17.0.1:8080']
